body
{
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;      
}
.calculator 
{
    text-align: center;
    width: 250px;
    border-radius: 15px;
    background-color: #1E1E1E;
    padding: 20px;
}
.display {
    width: 100%;
    height: 70px;
    background-color: rgb(73, 73, 73);
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}
.btn {

    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #424242;
    color: #EAEAEA;
    cursor: pointer;
    transition: background-color;
}
.btn.operation 
{
    background-color: #616161;
}
.btn.clear
{
    grid-column: span 2;
    background-color: #f14668;
}
.btn.equal 
{
    grid-column: span 2;
    background-color: #28A745;
}
.btn:hover 
{
    background-color: #3a3a3a;
}
.btn.operation:hover
{
    background-color: #545454;
}
.btn.clear:hover
{
    background-color: #ee2b51;
}
.btn.equal:hover
{
    background-color: #23943d;
}